#photos{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 7px;
}
.photo{
	max-height: 150px;
	
	margin-bottom: 7px;
	cursor: pointer;
}
.photo:hover{
	filter:brightness(60%);

}
.bigg-image-aria{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.8);
}
.bigg-image-aria > div{
	padding: 7px;
	background: #FFF;
	position: absolute;
	right: 50%;
	bottom: 50%;
	display: inline-block;
	transform: translateX(50%) translateY(50%);
	width: 50%;
	max-width: 800px;
	

}
.bigg-image-aria > div.standing{
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 600px;	
}
.bigg-image-aria > div img{
	width: 100%;
	//max-width: 600px;
	height: auto;
	
}
.bigg-image-aria > div.standing img{
	height: 100%;
	width: auto;
	max-height: 400px;
}